@font-face {
    font-family: "Tech Font";
    src: url("/fonts/OriginTech\ personal\ use.otf");
}
@font-face {
    font-family: "Hemi Head";
    src: url("/fonts/hemi\ head\ bd\ it.ttf");
}

body{
    margin: 0;
    background: #283048;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

main{
    height: 100vh;
    position: relative;
}



    
header{
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 10%;
}

label{
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 14%;
    left: 30%;
    margin-left: 12%;
    font-family: "Hemi Head", monospace;
    color: #fff8dc;
}

.pen_color_label{
    font-size: 28px;
}

.bg_color_label{
    margin-top: 20%;
    font-size: 28px;
}


.head{
    font-family: "Tech Font";    
    font-size: 2rem;
    color: #ffebcd;
    text-align: center;
}

.options_bar{
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 8%;
    height: 70%;
    width: 25%;
 
}

.blur{
    display: inline-block;
    background-color: #3e476342;
    filter: blur(1px);
    height: 100%;
    width: 100%;

}

input[type="color"]{
    display: inline-block;
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 1;
    height: 6vh;
    width: 10vh;
    -webkit-appearance: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.toggled{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    background-color: #283048;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-family: "Hemi Head", monospace;
    font-size: 20px;
    color: #fff8dc;;
    margin: 4px 2px;
    border-radius: 20px;

}


.not_toggled{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    background-color: #fff8dc;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-family: "Hemi Head", monospace;
    font-size: 20px;
    color: #283048;
    border-radius: 20px;


}

#rainbow_btn{
    margin-top: 25%;
    padding: 20px 13px;

}

#reset_btn{
    margin-top: 50%;
    padding: 20px 28px;

}

input[type="button"]:hover{
    animation-name: anim_btn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}



@keyframes anim_btn {
    from{box-shadow: none;}
    to{box-shadow: 0px 8px 15px 0px rgb(155, 158, 175);}
}




#bg_color{
    margin-top: 20%;
}







.sketch_div{
    display: inline-block;
    height: 90vh;
    width: 90vh;
    position: absolute;
    right: 0;
    margin: 40px 40px 0 0;
    display: grid;
    -webkit-box-shadow: -1px 7px 39px -2px rgba(13,13,13,1);
    -moz-box-shadow: -1px 7px 39px -2px rgba(13,13,13,1);
    box-shadow: -1px 7px 39px -2px rgba(13,13,13,1);
    overflow: hidden;

}

.grid_block{
    border:  1px solid rgba(172, 172, 172, 0.562);
    background-color: rgba(255, 255, 255, 0.041);
    
}



@media screen and (min-width: 1920px) {
    header{
        display: inline-block;
        position: absolute;
        top: 13%;
        left: 13%;
    }
    .pen_color_label{
        top: 16%;
        left: 30%;
    }

    .bg_color_label{
        margin-top: 24%;
    }

    .toggled{
        font-size: 35px;
        padding: 30px;
    }

    .not_toggled{
        font-size: 35px;
        padding: 30px;
    }
    
    #rainbow_btn{
        margin-top: 25%;
        padding: 30px 13px;
    
    }
    
    #reset_btn{
        margin-top: 50%;
        padding: 30px 35px;
    
    }
}

