body{
    margin: 0;
    background: #283048;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

main{
    height: 100vh;
    position: relative;
}

.sketch_div{
    display: inline-block;
    height: 75vh;
    width: 75vh;
    position: absolute;
    right: 0;
    margin: 40px 40px 0 0;
    display: grid;
    -webkit-box-shadow: -1px 7px 39px -2px rgba(13,13,13,1);
    -moz-box-shadow: -1px 7px 39px -2px rgba(13,13,13,1);
    box-shadow: -1px 7px 39px -2px rgba(13,13,13,1);
}

.grid_block{
    border:  1px solid rgba(172, 172, 172, 0.562);
    background-color: white;
    
}




